
.p {
    &-relative {
       position: relative; 
    }
    
    &-absolute {
        position: absolute;
    }
}

.w-100 {
    width: 100%;
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-family: Calibri!important;

    h1 {
        color: #ff5f15;
    }   
}

.container {
    padding: 3rem 0;
    color: #fff;
    width: 100%;

    .select-input {
        width: 100%;
    }

    .input-tx {
        width: 335px;
    }

    .input-primary {
        margin-top: 0.5rem;
        display: block;
        height: 54px;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #fff;
        border-radius: 0;
        background-color: transparent;
        font-size: 18px;
        color: #fff;

        &:hover,
        &:active,
        &.active {
            border-radius: 0;
        }
        &:focus {
            outline: unset;
            // border: 1px solid $color;
            border-radius: 0;
            border: unset;
            border-color: rgb(190, 190, 190);
            box-shadow: 0px 0px 5px rgb(190, 190, 190);
            color: #fff;
        }
    }

    .button {
        padding: 12px 20px 12px 20px;
        background-color: $color-neutral-50;
        border: none;
        color: #ff5f15;
        border-color: unset;
        font-size: 18px;

        &:focus, &:active {
            outline: 0;
            border-color: unset!important;
            box-shadow: unset!important;
            background-color: #{$color-neutral-50}!important;
        }

        &:hover {
            background-color: $color-neutral-50;
            border-color: none;
            color: #ff5f15;
        }
    }

    &.wrapper {
        // display: flex;
        // justify-content: center;
        h1 {
            color: #fff!important;
        }

        a {
            color: #fff!important;
        }
        

        #game_board {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            .square-row {
                display: flex;
                column-gap: 0.2em;
                margin-bottom: 0.2em;
            }
        }
        
        .square{
            background: #fff;
            width: 3em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: none;
            font-weight: 600;
            color: #ff5f15;
            font-size: 35px;
            box-shadow: 0.025em 0.125em 0.25em rgba(0, 0, 0, 0.25);

            &:after {
                transform: scale(1.5); /* Increase font size by 1.5x */
            }
        }
    }
}

.player_1, .player_2 {
    position: absolute;
    width: 300px;
    border: 1px solid #ececec;
    padding: 0.2em 0.7em;

    h2 {
        font-size: 30px;
        color: #521d03;
    }
}

.player_1 {
    left: -90%;
}

.player_2 {
    left: 115%;
}

.apps {
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;

    .icon {
        width: calc(100% / 5 - 1em);
        height: 59px;
        border: 1px solid #fff;
        margin-bottom: 1.2em;
        border-radius: 9px;

        .tictoe {
            background: url("/static/images/icons/tictactoe.png") no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
        }
    }
}