{% comment %} base.html {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Tic Tac Toe</title>

    {% if livereload_script %}
    {{ livereload_script }}
    {% endif %}
</head>
<body class="theme-01">
    <div class="game-container">
        <div class="bezel p-relative">
            <div class="inner-bezel">
                <div class="screen">
                    <div 
                        class="cover"
                    >
                        <div class="glass-overlay">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="power p-absolute"></div>
            <div class="up-volume p-absolute"></div>
            <div class="down-volume p-absolute"></div>
            <a href="/tictactoe" class="home p-absolute">
                <div class="home-key"></div>
            </a>
        </div>
    </div>
    
    <script src="{% static 'js/game.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>