{% extends 'base.html' %}
{% block content %}
    <div class="container ctn-h scroll-bar pdlr-2">
        <div class="pdlr-4">
            <h2 class="font-24 mb-2">Comment ce jeu fonctionne  ?</h2>
            <p class="font-18 mt-x mb-2">
                Le jeu est constitué de : 
                <ul>
                    <li>deux joueurs (Joueur 1 et Joueur 2)</li>
                    <li>deux symboles (X et O)</li>
                </ul>
            </p>

            <p class="font-18 mt-x mb-2">
                <h3 class="font-18 mb-2">Choix de symbole</h3>
                <p class="mt-x mb-2">
                    Seul le Joueur 1 a la possibilité de choisir un symbole (X ou O). Si le Joueur 1 
                    choisit le symbole X (ou O), alors le Joueur 2 se voit attribué automatiquement le symbole 
                    O ( ou X selon le choix du Joueur 1). 
                </p>
            </p>

            <p class="font-18 mt-x mb-2">
                <h3 class="font-18 mb-2">Nombre de tour</h3>
                <p class="mt-x mb-2">
                    Le nombre de tour représente le nombre d'épisode devant déterminer le gagnant 
                    final du jeu. À chaque épisode, chaque joueur se voit son score s'incrémenter selon que ce joueur gagne la partie.
                    Le joueur ayant le plus grand score est le gagnant final du jeu.
                </p>
            </p>

            <p class="font-18 mt-x mb-2">
                <h3 class="font-18 mb-2">Quel joueur place t-il son symbole ?</h3>
                <p class="mt-x mb-2">
                    Le rectangle en surbrillance marque le joueur qui doit placer son symbole.
                </p>
            </p>

            <p class="font-18 mt-x mb-2">
                <h3 class="font-18 mb-2">Combien de symbole un joueur peut-il placer ?</h3>
                <p class="mt-x mb-2">
                    Il est permis à chaque joueur de placer trois (03) symboles au total. 
                    Une fois que cette limite sera atteinte par les deux joueurs, ils pourront changer la position 
                    d'un symbole. Le joueur ayant la main doit joueur son tour en cliquant sur son symbole, 
                    puis en le replaçant dans une position non occupée. Par conséquent, les deux joueurs devront 
                    modifier la position de leurs symboles respectifs jusqu'à ce qu'un gagnant de l'épisode soit annoncé.
                </p>
            </p>

            <div class="mt-20 algn-center">
                <a href="/tictactoe/game" class="button">
                    Aller au jeu
                </a>
            </div>
        </div>
        
    </div>

    <div class="c-modal" id="c-modal">
        <div class="content">
            <i class="ic-alert ic-warning h-100p"></i>

            <div 
                class="text-warning font-wgh-600" 
                id="warning-msg"
            ></div>
            
            <div class="mt-3">
                <a href="javascript:;" onclick="closeModal()" class="text-danger">
                    Fermer
                </a>
            </div>
        </div>
    </div>
{% endblock content %}