{% extends 'base.html' %}
{% block content %}
    <div class="container pdlr-2">
        <form 
            action="/tictactoe/play/"  
            method="POST"
            class="pdlr-4"
        >
            {% csrf_token %}

            <div class="mb-3">
                <label for="" class="font-24">Nombre de tour</label>
                <input 
                    type="number"
                    name="nb_round"
                    class="input-primary input-tx"
                    min="1"
                    max="5"
                    required
                >
            </div>

            <div class="mb-3">
                <label for="" class="font-24">Symbole</label>
                <select 
                    name="character_choice" 
                    id="character_choice"
                    class="input-primary select-input"
                    required
                >
                    <option value="X">X</option>
                    <option value="O">O</option>
                </select>
            </div>

            <input 
                type="hidden"
                name="game_code"
                value="GT0001"
            >

            <div class="algn-center w-100">
                <input type="submit" class="button" value="Démarrer">
            </div>
            
        </form>
    </div>
{% endblock content %}