{% extends 'base.html' %}
{% block content %}
    <div class="container pdlr-2">
        <form 
            action="/tictactoe/play/"  
            method="POST"
            class="pdlr-4"
            id="play-game"
        >
            {% csrf_token %}

            <div class="mb-3">
                <label for="" class="font-24">Nombre de tour</label>
                <input 
                    type="number"
                    name="nb_round"
                    class="input-primary input-tx"
                    id="nb-round"
                    min="1"
                    required
                >
            </div>

            <div class="mb-3">
                <label for="" class="font-24">Symbole</label>
                <select 
                    name="character_choice" 
                    id="character_choice"
                    class="input-primary select-input"
                    required
                >
                    <option value="X">X</option>
                    <option value="O">O</option>
                </select>
            </div>

            <input 
                type="hidden"
                name="game_code"
                value="GT0001"
            >

            <div class="algn-center w-100">
                <input type="button" onclick="submitForm()" class="button curs-p" value="Démarrer">
            </div>
            
        </form>

        
    </div>

    <div class="c-modal" id="c-modal">
        <div class="content">
            <i class="ic-alert ic-warning h-100p"></i>

            <div 
                class="text-warning font-wgh-600" 
                id="warning-msg"
            ></div>
            
            <div class="mt-3">
                <a href="javascript:;" onclick="closeModal()" class="text-danger">
                    Fermer
                </a>
            </div>
        </div>
    </div>
{% endblock content %}