.ic {
    &-alert {
        content: url(/static/scss/icon/ic-alert.svg);
    }

    &-up-arrow {
        content: url(/static/scss/icon/ic-up-arrow.svg);
    }

    &-danger {
        filter: invert(24%) sepia(88%) saturate(6167%) hue-rotate(354deg) brightness(95%) contrast(125%);
    }

    &-warning {
        filter: invert(31%) sepia(91%) saturate(3833%) hue-rotate(45deg) brightness(95%) contrast(97%);
    }
}
