@font-face {
    font-family: $font-family ;
    src: url(sen/Sen-Regular.ttf) format('truetype');
}

body {
    font-family: Calibri!important
}

@each $size in $sizes {
    .font-#{$size} {
        font-size: #{$size}px;
    }
}

@each $wgh-size in $fnt-wgh-sizes {
    .font-wgh-#{$wgh-size} {
        font-weight: #{$wgh-size}!important;
    }
}

.text {
    &-warning {
        color: #946f00;
    }

    &-danger {
        color: #dc3545;
    }
}

.curs-p {
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.algn-center {
    text-align: center!important;
}

.algn-right {
    text-align: right!important;
}

.algn-left {
    text-align: left!important;
}

.mt {
    &-x {
        margin-top: unset!important;
    }
    @each $spacing in $spacing {
        &-#{$spacing} {
            margin-top: $spacing * 1%;
        }
    }
}

.mb {
    &-x {
        margin-bottom: unset!important;
    }
    @each $spacing in $spacing {
        &-#{$spacing} {
            margin-bottom: $spacing * 1%;
        }
    }
}

.pdl {
    &-x {
        padding-left: unset!important;
    }
    @each $spacing in $spacing {
        &-#{$spacing} {
            padding-left: $spacing * 1%;
        }
    }
}

.pdlr {
    &-x {
        padding-left: unset!important;
        padding-right: unset!important;
    }
    @each $spacing in $spacing {
        &-#{$spacing} {
            padding-left: $spacing * 1%;
            padding-right: $spacing * 1%;
        }
    }
}

.pdtb {
    @each $spacing in $spacing {
        &-#{$spacing} {
            padding-top: $spacing * 1%;
            padding-bottom: $spacing * 1%;
        }
    }
    &-x {
        padding-top: unset!important;
        padding-bottom: unset!important;
    }
}

.text-neutral {
    color: $color-neutral-50;
}

.h-8p {
    height: 8px!important;
}

.h-10p {
    height: 10px!important;
}

.h-13p {
    height: 13px!important;
}

.h-14p {
    height: 14px!important;
}

.h-15p {
    height: 15px!important;
}

.h-16p {
    height: 16px!important;
}

.h-18p {
    height: 18px!important;
}

.h-20p {
    height: 20px!important;
}

.h-24p {
    height: 24px!important;
}

.h-30p {
    height: 30px;
}

.h-44p {
    height: 44px;
}

.h-49p {
    height: 49px;
}

.h-50p {
    height: 50px!important;
}

.h-100p {
    height: 100px!important;
}

p {
    text-align: justify!important;
}

a {
    text-decoration: none;
}